POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram


SECRET_KEY='django-insecure--a00a0a00a0a0a0a0a0a00a0a0000aaaa00a0a0a0a0a0a0a00a'
DEBUG=False
ALLOWED_HOSTS=xxx.xxx.xx.xx, 127.0.0.1, localhost, some-domen.org